.glyphicon{
    line-height: 40px;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.ocs-login-padding{
    margin:auto;
}
.ocs-login-header{
    padding-top:30px;
    padding-bottom: 30px;
}
.ocs-container-bg{
    opacity: 0.8;
}
.ocs-logo{
    height:32px;
    margin-left:20px;
}

.ocs-content-bg{
    height:600px;
    background-color: rgb(0, 192, 158);
}

.ocs-postion-relative{
    position:relative;
}
.ocs-login-container{
    width:350px;
    height:360px;
    position: absolute;
    right:6rem;
    top:50%;
    margin-top:-180px;
    background: #fff;
}

.ocs-lg{
    width:298px;
    margin:auto;
}
.ocs-login-title{
    font-size: 18px;
    padding: 20px 0px 10px 20px;
    font-weight: bold;
}

.ocs-login-div{
    margin:20px auto;
    position:relative;
}
.ocs-login-logo{
    top: 1px;
    left:1px;
    position:absolute;
    background: #ddd;
    width:40px;
    height:40px;
    line-height: 40px !important;
    text-align: center;
    vertical-align: middle;
}
.ocs-login-input{
    vertical-align: middle;
    width:298px;
    height: 42px;
    border:1px solid #ddd;
    padding-left:50px;
}
.ocs-login-user{

}

.ocs-login-logo-font{
    font-size: 22px;
}

.ocs-lg-submit{
    display: inline-block;
    background-color: #4ba9e1;
    width:300px;
    height:42px;
    text-align: center;
    font-size:20px;
    color:white;
    line-height: 42px;
}
.ocs-lg-operate{
    margin-top:30px;
}
.ocs-lg-operate>li{
    float:right;
    margin-right:10px;
}

.ocs-lg-submit:hover{
    color:white;
    opacity:0.8;
}
