ul, ol{
    margin:0px;
}
.ocs-m-content{
    border-top:2px solid black;
}
.index-main {
    margin: 0px auto;
    width: 1190px;
}

.main-left {
    float:left;
    color: white;
    background-color: #874fb3;
    box-shadow: 1px 0 2px rgba(20, 20, 20, 0.4);
    width: 180px;
}


.main-left a{
    color:white;
}

.main-left dd,.main-left dt {
    width:120px;
    margin:0 auto;
    padding: 8px 0px;
    border-bottom: 1px solid #cccccc30;
}
.main-left dt{
    font-size:16px;
 }
.main-left dd{
    overflow: hidden;
    font-size:12px;
}

.main-left dd a{
    float:left;
    width:60px;
    display: inline-block;
}

.main-left dd a:hover{
    color:#ffaa00;
    text-decoration: underline;
}

.main-middle{
    padding-left:180px;
}

.mm-banner{
    width:760px;
    height:290px;
}

.mm-banner img{
    display: inline-block;
    width:860px;
}

.carousel-indicators{
    right:10px !important;
    bottom:0px !important;
    width: auto !important;
    left:auto !important;
}

.mm-recomm{
    width:760px;
    height:360px;
}

.carousel-re{
    width:760px;
    height:360px;
}

.recomm-ul{
    padding:0px;
    overflow: hidden;
    height:360px;
}

.recomm-ul>li{
    width:380px;
    float:left;
    padding:20px;
}

.re-text{
    padding-left: 120px;
}

.re-text >dd{
    padding:5px 0px;
    font-size:12px;
    color:rgb(153, 153, 153);
}

.re-img{
    float:left;
}

.re-img >img{
    width:102px;
    height:136px;
}

.re-left,.re-right{
}


.re-left>span{
    left:10px !important;
    margin-top: -19px !important;
}

.re-right>span{
    right:10px !important;
    margin-top: -19px !important;
}
