.ocs-m-search{
    width: 1190px;
    position: relative;
    margin:0px auto ;
    overflow: hidden;
}

.ng-logo-box{
    float:left;
}

.ng-logo-text{
    font-size:24px;
    color: #8e8989;
    display: inline-block;
    margin-left:5px;
}

.ng-search{
    box-sizing: content-box;
    float:left;
    width:500px;
    height:36px;
    border:2px solid  #FA0;
    margin:30px 0px 0px 200px;
    position: relative;
}
.ng-sea-icon{
    width:30px;
    text-align: center;
    color:#ccc;
    font-weight: normal;
}

.ng-sea-input{
    width:360px;
    height:36px;
    border:none;
    outline:  none;
}

.ng-sea-btn{
    display: inline-block;
    background:#FA0 ;
    width: 100px;
    height:36px;
    position: absolute;
    right:0px;
    color:white;
    text-align: center;
    line-height: 36px;
    font-size:15px;
}

.ng-sea-btn:hover{
    color:white;
}
.ng-hotkey{
    padding:5px 0px 0px 0px ;
    color: #aaa;
}

.ocs-li-inline{
    display: inline-block;
    color:#aaa;
    font-size:12px;
    margin-right:10px;
}

.ocs-li-inline:hover{
    color:#ff0036;
    text-decoration: underline;
}