.ocs-m-search{
    position: relative;
}

.ng-logo-box{
    float:left;
}

.ng-logo-text{
    font-size:24px;
    color: #8e8989;
    display: inline-block;
    margin-left:5px;
}

.ng-search{
    float:left;
    margin-left:200px;
    height:100px;
}

.ng-sea-input{
    width:400px;
    height:40px;
    padding:0px 50px 0px 30px;j
}